{% extends "base.html" %} {% block title %}{{ deck.title }}{% endblock %} {%
block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

<h1 class="title">{{ deck.title }}</h1>

<div class="center">
  <a
    href="{{ url_for('views.practice', deck_id=deck.id) }}"
    class="button primary"
    id="practice-btn"
    >Start Practice</a
  >
</div>

<h2 class="section-title">Add a New Card</h2>
<form method="POST" class="card-form">
  <div class="form-field">
    <label for="question">Question</label>
    <input
      type="text"
      id="question"
      name="question"
      placeholder="Enter question"
    />
  </div>
  <div class="form-field">
    <label for="answer">Answer</label>
    <input type="text" id="answer" name="answer" placeholder="Enter answer" />
  </div>
  <div class="center">
    <button type="submit" class="button secondary">Add Flashcard</button>
  </div>
</form>

<h2 class="section-title">All Cards</h2>
<ul class="flashcard-list">
  {% for flashcard in deck.flashcards %}
  <li class="flashcard-item">
    <div>
      <strong>Q:</strong> {{ flashcard.question }}<br />
      <strong>A:</strong> {{ flashcard.answer }}
    </div>

    <div>
      <a
        class="edit-btn"
        href="{{ url_for('views.edit_flashcard', flashcard_id=flashcard.id) }}"
      >
        <i class="fa fa-pencil"></i>
        <!-- Edit icon (pen) -->
      </a>
      <button
        type="button"
        class="delete-btn"
        onclick="deleteFlashcard({{ flashcard.id }})"
      >
        <i class="fa fa-times"></i>
        <!-- Delete icon (x) -->
      </button>
    </div>
  </li>
  {% endfor %}
</ul>

<script>
  function deleteFlashcard(flashcardId) {
    if (confirm("Are you sure you want to delete this flashcard?")) {
      fetch("/delete-flashcard/" + flashcardId, { method: "DELETE" })
        .then((response) => {
          if (response.ok) {
            window.location.reload();
          } else {
            alert("Failed to delete flashcard.");
          }
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    }
  }
</script>
{% endblock %}
