{% extends "base.html" %} {% block title %}{{ deck.title }}{% endblock %} {%
block content %}
<h1 align="center">{{ deck.title }}</h1>

<!-- Display existing flashcards -->
<ul class="list-group list-group-flush" id="flashcards">
    {% for flashcard in deck.flashcards %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        <strong>Q:</strong> {{ flashcard.question }} <br />
        <strong>A:</strong> {{ flashcard.answer }}
      </div>
      <div>
        <a href="{{ url_for('views.edit_flashcard', flashcard_id=flashcard.id) }}" class="btn btn-sm btn-link text-secondary">
          <i class="fa fa-pencil"></i> <!-- Edit icon (pen) -->
        </a>
        <button type="button" class="btn btn-sm btn-link text-danger" onclick="deleteFlashcard({{ flashcard.id }})">
          <i class="fa fa-times"></i> <!-- Delete icon (x) -->
        </button>
      </div>
    </li>
    {% endfor %}
  </ul>

</br>
<!-- Form to add a new flashcard -->
 <h2> Add a New Card </h2>
<form method="POST">
  <div class="form-group">
    <label for="question">Question</label>
    <input
      type="text"
      class="form-control"
      id="question"
      name="question"
      placeholder="Enter question"
    />
  </div>
  <div class="form-group">
    <label for="answer">Answer</label>
    <input
      type="text"
      class="form-control"
      id="answer"
      name="answer"
      placeholder="Enter answer"
    />
  </div>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Flashcard</button>
  </div>
</form>

<!-- JavaScript to handle flashcard deletion -->
<script>
  function deleteFlashcard(flashcardId) {
    if (confirm("Are you sure you want to delete this flashcard?")) {
    fetch("/delete-flashcard/" + flashcardId, {
      method: "DELETE",
    })
      .then((response) => {
        if (response.ok) {
          window.location.reload(); // Reload the page to reflect the deletion
        } else {
          alert("Failed to delete flashcard.");
        }
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  }}
</script>
{% endblock %}
