{% extends "base.html" %} {% block title %}Edit Flashcard{% endblock %} {% block
content %}
<h1 class="center">Edit Flashcard</h1>

<form method="POST">
  <div class="form-group">
    <label for="question">Question</label>
    <input
      type="text"
      class="form-control"
      id="question"
      name="question"
      value="{{ flashcard.question }}"
    />
  </div>
  <div class="form-group">
    <label for="answer">Answer</label>
    <input
      type="text"
      class="form-control"
      id="answer"
      name="answer"
      value="{{ flashcard.answer }}"
    />
  </div>
  <br />
  <div class="center">
    <button type="submit" class="button primary">Save Changes</button>
  </div>
</form>
{% endblock %}
