{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<h1 class="center">Your Flashcard Decks</h1>

<!-- Display existing decks -->
<ul class="list-group list-group-flush" id="decks">
    {% for deck in user.decks %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="{{ url_for('views.deck', deck_id=deck.id) }}" class="text-decoration-none text-dark">
        {{ deck.title }}
      </a>
      <div>
        <a href="{{ url_for('views.edit_deck', deck_id=deck.id) }}" class="edit-btn">
          <i class="fa fa-pencil"></i> <!-- Edit icon (pen) -->
        </a>
        <button type="button" class="delete-btn" onclick="deleteDeck({{ deck.id }})">
          <i class="fa fa-times"></i> <!-- Delete icon (x) -->
        </button>
      </div>
    </li>
    {% endfor %}
  </ul>

</br>

<!-- Form to add a new deck -->
 <h2 class="center">Add New Deck</h2>
<form method="POST">
  <div class="form-field">
    <label for="deck">Deck Title</label>
    <input
      type="text"
      class="form-control"
      id="deck"
      name="deck"
      placeholder="Enter deck title"
    />
  </div>

  <div class="center">
    <button type="submit" class="button primary">Add Deck</button>
  </div>
</form>

<!-- JavaScript to handle deck deletion -->
<script>
  function deleteDeck(deckId) {
 if (confirm("Are you sure you want to delete this deck?")) {
    fetch("/delete-deck/" + deckId, {
      method: "DELETE",
    }).then((response) => {
      if (response.ok) {
        window.location.href = "/";
      }
    });
  }
}

</script>

{% endblock %}
