{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
</br>
<h1 align="center">Your Flashcard Decks</h1>

<!-- Display existing decks -->
<ul class="list-group list-group-flush" id="decks">
  {% for deck in user.decks %}
  <li class="list-group-item">
    <a href="{{ url_for('views.deck', deck_id=deck.id) }}">{{ deck.title }}</a>
    <button type="button" class="close" onclick="deleteDeck({{ deck.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
</br>

<!-- Form to add a new deck -->
 <h2>Add a New Deck</h2>
<form method="POST">
  <div class="form-group">
    <label for="deck">Deck Title</label>
    <input
      type="text"
      class="form-control"
      id="deck"
      name="deck"
      placeholder="Enter deck title"
    />
  </div>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Deck</button>
  </div>
</form>

<!-- JavaScript to handle deck deletion -->
<script>
  function deleteDeck(deckId) {
    fetch("/delete-deck/" + deckId, {
      method: "DELETE",
    }).then((response) => {
      if (response.ok) {
        window.location.href = "/";
      }
    });
  }
</script>
{% endblock %}
